<!DOCTYPE html>
<html>
<head>
<meta charset ="utf-8">
<!-- This line for bootstrap -->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Awato Dogs</title>
<link rel="icon" href="images/awato_scooby.jpeg">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<!-- <link rel="stylesheet" href="css/awato_styles.css"> -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular-resource.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular-route.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular-cookies.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular-aria.min.js"></script>

<script src="js/controllers.js"></script>
<script src="js/controllers1.js"></script>
<script src="js/controllers2_temp.js"></script>
<script src="js/controllers3.js"></script>
<script src="js/ctrls.js"></script>
</head>

<body>

<!-- https://v4-alpha.getbootstrap.com/components/navbar/ -->
<nav class="navbar navbar-fixed-top navbar-toggleable-md navbar-light bg-faded">
 <a class="navbar-brand" href="#">
  <img src="images/awato_scooby.jpeg" width="30" height="30" alt="">
  Awato Dogs
 </a>
</nav>

<!-- Bootstrap Jumbotron Theme -->
<div class="jumbotron text-center">
 <h1>Doggy Database</h1>
 <p>Lookup or Add the dog of your choice.</p> 
</div>
<div class="container">
 <div class="row">
  <div class="col-sm-4">
   <h3>Catalog a Dog</h3>
   <p>Have a rare breed to show the world.  Well, catalog it with us today to display it for all the world to see.  Help create the community you want to be proud.</p>
<!-- Angular Example that works
   <div ng-app="HelloWorldApp" ng-init="qty=1;cost=2">
    <b>Invoice:</b>
    <div>
     Quantity: <input type="number" min="0" ng-model="qty">
    </div>
    <div>
     Costs: <input type="number" min="0" ng-model="cost">
    </div>
    <div>
     <b>Total:</b> {{qty * cost | currency}}
    </div>
    <div class="awato-header" ng-controller="HelloWorldController">
     <h3>{{greeting}}</h3>
    </div>
   </div>
-->
  </div>
  <div class="col-sm-4">
   <h3>Lookup a Dog</h3>
   <p>We have tens of tens of dog breeds to search for your dog and learn about their world.</p>
  </div>
  <div class="col-sm-4">
   <h3>Add a Dog</h3>
   <p>Add a dog today.  Take your dog's breed, size, and lifespan and add to our database.  Also, write up a small description and pass it along to the database.</p>
  </div>
 </div>
</div>

<!-- This section is for tabs -->
<div class="container">
<div class="row"><div class="col-xl-12">
 <h2>Dog DB</h2>
  <p>List the Dogs in the database or Add a dog of your own.<p>
  <br>
  <!-- Nav Tabs -->
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#home">Dogs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#menu1">Add</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div id="home" class="container tab-pane active"><br>
      <h3>Dogs</h3>
       <div ng-app="DogApp" ng-controller="DogController">
        Yup: {{dogs}} <br>
        Breed: {{dog().breed}}
       </div>
<!-- Temporary, until I get tabs working
       <div ng-app="hDogs" ng-controller="hDogsController">
       </div>
-->
    </div>
    <div id="menu1" class="container tab-pane fade"><br>
      <h3>Add a Dog</h3>
      <p>Ut enim ad minim veniam, </p>
     <div>
      Dog Breed: <input type="text">
     </div>
     <div>
      Dog Size: <input type="text">
     </div>
     <div>
      Dog Description: <input type="text">
     </div>
     <div>
      Dog Lifespan: <input type="text">
     </div>
     <div>
      <button type="submit">Add Dog</button>
     </div>
    </div>
  </div>
</div></div>
<br>
</div>
<!-- -->

<!-- This is temporary until I can get the above tabs to work -->
<div class="container">
 <h2>Temporary</h2>
 <p>This is temporary until I can get the tabs above to work, but I have to move on to the AngularJS backend controller.</p>
 <div class="row">
  <div class="col-xl-6">
   <h3>Dog Add</h3><br>
   <div><input type="text" placeholder="Breed"></div>
   <div><input type="text" placeholder="Size"></div>
   <div><input type="text" placeholder="Description"></div>
   <div><input type="text" placeholder="Lifespan"></div>
   <div><button type="submit">Add Dog</button></div>
  </div>
  <div class="col-xl-6">
   <h3>Dog List</h3>
   <p>List the Dogs in the database or Add a dog of your own.<p>
   <br>
   <div ng-app="mydogApp" ng-controller="mydogAppController">
    <p>{{apikey}}</p>
   </div>

  </div>
 </div>
</div>

</body>
</html>
