<!DOCTYPE html>
<html>
<head>
<meta charset ="utf-8">
<!-- This line for bootstrap -->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Awato Dogs</title>

<!--
<link rel="stylesheet" href="css/awato_styles.css">
-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular-resource.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular-route.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular-cookies.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.11/angular-aria.min.js"></script>

<script src="js/controllers.js"></script>
</head>

<body>

<!-- https://v4-alpha.getbootstrap.com/components/navbar/ -->
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
 <a class="navbar-brand" href="#">
  <img src="images/awato_scooby.jpeg" width="30" height="30" alt="">
  Awato Dogs
 </a>
</nav>

<div class="jumbotron text-center">
 <h1>Doggy Database</h1>
 <p>Lookup or Add the dog of your choice.</p> 
</div>
<div class="container">
 <div class="row">
  <div class="col-sm-4">
   <h3>AngularJS</h3>
   <div ng-app="HelloWorldApp" ng-init="qty=1;cost=2">
    <b>Invoice:</b>
    <div>
     Quantity: <input type="number" min="0" ng-model="qty">
    </div>
    <div>
     Costs: <input type="number" min="0" ng-model="cost">
    </div>
    <div>
     <b>Total:</b> {{qty * cost | currency}}
    </div>
    <div class="awato-header" ng-controller="HelloWorldController">
     <h3>{{greeting}}</h3>
    </div>
   </div>
   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
   <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
  </div>
  <div class="col-sm-4">
   <h3>Column 2</h3>
   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
   <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
  </div>
  <div class="col-sm-4">
   <h3>Column 3</h3>        
   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
   <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
  </div>
 </div>
</div>

</body>
</html>
